body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 15px;
  color: #7C6A0A;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 70px 45px 0px;
  color: #7C6A0A;
}
article .impact-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
article h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  font-size: 1em;
  border-radius: 35px;
  color: white;
  background-color: #FA9500;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  padding-bottom: 60px;
  font-weight: 300;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 80px;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 15vw;
  height: 60vh;
  padding: 20px;
  border-radius: 8px;
  color: #7C6A0A;
  background-color: #FFDAC6;
}
section .healthcare .product-card:hover, section .furniture .product-card:hover {
  transform: scale(1.1);
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 15vw;
  height: 40vh;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .furniture .product-card {
  color: white;
  background-color: #BABD8D;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #E86424;
}
.location h2 {
  padding: 60px 0;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location .map img {
  width: 90%;
}
.location p, .location h3 {
  font-size: 1.5em;
}

footer {
  height: auto;
  padding: 20px;
  color: white;
  background-color: #FA9500;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}/*# sourceMappingURL=main.css.map */